.base-h1 {
  font-weight: 500;
  font-size: 76px;
  line-height: 86px;
  color: #161C2F;
  text-align: center;

  span {
    background: linear-gradient(77.17deg, #0066FF 42.09%, #2CE0C5 63.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media(max-width: 767px) {
    font-size: 48px;
    line-height: 56px;
  }

  &--dark {
    color: #FFFFFF;
  }
}


.base-h2 {
  font-weight: 500;
  font-size: 48px;
  color: #161C2F;

  @media(max-width: 767px) {
    font-size: 36px;
    line-height: 125%;
  }

  &--dark {
    color: #FFFFFF;
  }
}


.base-subtitle {
  font-size: 20px;
  line-height: 28px;
  color: #161C2F;
  opacity: 0.4;

  @media(max-width: 767px) {
    font-size: 18px;
    line-height: 24px;
  }

  &--dark {
    color: #FFFFFF;
  }
}

.container {
  max-width: 2000px;
}

.base-badge {
  display: flex;
  align-items: center;
  background: rgba(0, 102, 255, 0.15);
  border-radius: 14px;
  padding: 4px 8px;

  span {
    font-weight: 500;
    font-size: 16px;
    color: #0066FF;
  }
}
