$namespace: 'xmx'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />

$default-color: #2F385E;
$primary-color: #0066FF;
$border-color:  rgba(47, 56, 94, 0.4);
$input-color: #2F385E;
$input-border-radius: 6px;

.xmx-input {
  height: 42px !important;
  font-size: 16px !important;
  border: 1px solid rgba(47, 56, 94, 0.4) !important;

  &::placeholder {
    color: #2F385E;

    opacity: 0.6;
  }
}

.xmx-time-item {
  &:hover {
    background: rgba(0, 0, 0, 0.04) !important;
  }
}

.xmx-datepicker-main  {
  border-radius: 6px;
  overflow: hidden;
  border: none !important;
}

.xmx-datepicker {
  width: 100% !important;
}

@import '~vue2-datepicker/scss/index.scss';
